[Unit]
Description=rs-short
Documentation=https://git.42l.fr/42l/rs-short
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/target/release/rs-short
Restart=on-failure

[Install]
WantedBy=multi-user.target