[Unit]
Description=rs-short
Documentation=https://git.42l.fr/42l/rs-short
After=network.target

[Service]
Type=simple
User=root # Maybe better with dedicated user
WorkingDirectory=/var/www/rs-short
ExecStart=/var/www/rs-short/target/release/rs-short
Restart=on-failure

[Install]
WantedBy=multi-user.target